@charset "UTF-8";

body {
	background-color: rgba(112,146,190,255);
}
footer {
	background-color: rgb(180,214,242,255);
}
.etusivu {
	text-align:center;
	font-size:larger;

	margin:0 auto;
	width:500px;
	background-color: rgb(118,181,197);
	margin: 50%;
}

