@charset "UTF-8;";
body {
	background-color: #c4aa8a;
	}
footer{
	background-color: rgb(135,62,35);
	text-align: center;
	}
img {
	float: center;
}
.etusivu {
	text-align:center;
	margin: auto;
	font-size:larger;
	width:500px;
	background-color:#eeeee4;
}
