@charset "UTF-8;";
body {
	background-color: #c4aa8a;
	}
footer{
	text-align: center;
	margin: auto;
	width:500px;
	}
img {
	float: center;
}
.etusivu {
	text-align:center;
	margin: auto;
	font-size:larger;
	width:500px;
	background-color:#eeeee4;
}
.col-3 {
	background-color:#eeeee4;
	margin: auto;
	width:500px;
}
h2 {
	background-color:#eeeee4;
	margin: auto;
	width:500px;
	font-size: smaller;
}