@charset "UTF-8;";
body {
	background-color: rgba(112,146,190,255);
	}
footer{
	background-color: rgba(112,146,190,255);
	text-align: center;
	}
header {
	
}
.etusivu {
	text-align:center;
	margin: auto;
	font-size:larger;
	width:500px;
	background-color:rgb(118,181,197);
}
